.password-field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* wrapper do input + ícone */
.password-wrapper {
  position: relative;
  width: 100%;
}

/* input */
.password-wrapper input {
  width: 100%;
  padding: 12px 44px 12px 12px; /* espaço pro ícone */
  border-radius: 10px;
  border: none;
  background-color: #e6e6e6;
  font-size: 14px;
}

/* botão do olhinho */
.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;

  transform: translateY(-50%);

  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #d9d9d9;
  border: none;
  border-radius: 6px;

  cursor: pointer;
  font-size: 14px;
  color: #12340f;

  transition: background-color 0.2s ease;
}

.password-toggle:hover {
  background-color: #c7c7c7;
}

/* erro */
.password-field small {
  color: #ffb3b3;
  font-size: 12px;
}
