# .env.example - PODE COMPARTILHAR
SECRET_KEY=sua_secret_key_aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgres://usuario:senha@localhost:5432/nome_do_banco
JWT_SECRET=seu_jwt_secret_aqui

	
RECAPTCHA_PUBLIC_KEY=key_do_recaptcha_aqui
RECAPTCHA_PRIVATE_KEY=key_do_recaptcha_aqui
EMAIL_HOST_PASSWORD=exemplo_de_senha
SECRET_KEY=secret_example
RESEND_API_KEY=api_exemple